/**
 * _fonts.scss
 * Custom EverestForms fonts.
 */
@font-face {
	font-family: 'EverestForms';
	src:  url('../fonts/EverestForms.eot?cck9by');
	src:  url('../fonts/EverestForms.eot?cck9by#iefix') format('embedded-opentype'),
		url('../fonts/EverestForms.ttf?cck9by') format('truetype'),
		url('../fonts/EverestForms.woff?cck9by') format('woff'),
		url('../fonts/EverestForms.svg?cck9by#EverestForms') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
